* {
    margin: 0px;
    padding: 0px;
}

.gridPadre {
    display: grid;
    grid-template-areas:
    "header"
     "main"
     "main"
     "footer"
    ;
}

header{
    background: url(imagenes/SINELDENT_Fondo-Degradado1080p.png) no-repeat fixed;
    grid-area: header;
    border-bottom: 2px black solid;
}


nav ul li {
    background-color: #dbf3fb ;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    list-style: none;
    line-height: 30px;
    top: 0;
    text-align: center;
    border: 4px rgb(215, 245, 255) outset;
    border-radius: 100px; 
    
}

.box:hover{
    transform: scale(2);

}

.box1 {
    transition-property: all;
    transition-duration: 2s;
}

nav ul{
    grid-area: nav;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    border-radius: 3px solid black;
}
nav a {
    text-decoration:none;
    font-weight: 1000;
    color: rgb(2, 2, 19);   
}

.icono{ 
    text-align: center;

}

.buscador {

    padding-top: 20px;
    margin: 10px;
    line-height: 30px;
    display: flex;
    justify-content: center;

}

.search  input{
    border-radius: 20px;
}
.search2 input{
    width: 50px;
    border-radius: 10px;
}
.buscador2 {

    text-align: center;
    display: flex;
    justify-content: center;
}

main{
    background-color: green;
}

footer {
    height: 100px;
    background: url(imagenes/SINELDENT_Fondo-Degradado1080p.png) no-repeat fixed;
    border-top: 2px solid black;
    grid-area: footer;
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
}




@media(max-width: 700px) {
    .gridPadre{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "header hader hader"
        "main main main"
        "footer footer footer";
    }
    main {
        background-color: rgb(128, 0, 28);
    }   
    
    header{
        color: blue;
        font-size: 15px;
        background-color: aqua;
    }
}
